<!DOCTYPE html>
<Html xmlns="http://www.w3.org/1999/html">

	<head>
		<meta charset="utf-8">
		<title>{% block title %}Billeterie du LOUVRE{% endblock %}</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
			<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('css/main.css') }}">
		{% endblock %}
	</head>

	<body>
		<h1> Bienvenue sur le site de la billeterie du LOUVRE </h1>

  		<div class="parallax-container">
    		<div class="parallax"><img src="images/louvre1.jpg"></div>
  		</div>

		<div class="row container">
      		<h2 class="header">Présentation</h2>
			<h4>Bienvenue sur le site de billeterie du Musée du Louvre. Vous pourrez réserver vos billets
				<a class=" btn btn-floating pulse modal-trigger" href="#modal1">ici</a>
				<div id="modal1" class="modal">
					<div class="modal-content">
						<p>Information</p>
						<p>Vous êtes sur le point d'entrer sur une page sécurisée permettant la reservation et l'achat de billets par le biais de votre carte de crédit. La transaction est effectuée par une plateforme tierce ne dépendant pas du Musée.</p>
					</div>
					<div class="modal-footer">
						<a href={{ path('homepage') }} class="modal-action btn-flat">Je refuse</a>
						<a href={{ path('reservation') }} class="modal-action btn-flat ">J'accepte</a>
					</div>
				</div>
			</h4>

			<p>Spicy jalapeno bacon ipsum dolor amet pork loin kevin meatball pastrami turducken. Shankle t-bone chuck tri-tip, pancetta biltong shoulder. Rump capicola cow, buffalo meatloaf ribeye pastrami cupim.
				Filet mignon swine doner flank pork chop leberkas buffalo t-bone prosciutto kevin boudin porchetta salami kielbasa jowl. Chicken rump venison biltong beef brisket cupim turkey.
				Short loin corned beef burgdoggen landjaeger rump. Strip steak ball tip sausage shankle spare ribs ribeye bresaola chuck jerky t-bone pork chop picanha.
			</p>
		</div>

		<div class="parallax-container">
			<div class="parallax"><img src="images/louvre2.jpg"></div>
		</div>

		<div class="row container">
			<p>Turkey brisket pork loin jowl chicken short ribs. Meatloaf short ribs tongue pork belly, shoulder biltong spare ribs boudin porchetta cow leberkas hamburger beef ribs ham.
				Shank pork beef, porchetta ham shoulder jowl brisket corned beef flank alcatra. Ham picanha corned beef rump t-bone buffalo porchetta pancetta capicola cow spare ribs landjaeger salami bacon.
				Cupim doner picanha pastrami.
				Alcatra drumstick sausage, strip steak brisket burgdoggen pastrami hamburger pork belly tenderloin tongue beef ribs. Cow tongue jerky tail rump buffalo, kevin turkey chuck boudin.
				Bacon jowl frankfurter turkey buffalo. Ham hock ball tip turkey, sirloin spare ribs burgdoggen jerky.
				Turkey rump tongue landjaeger ribeye hamburger brisket doner picanha pork loin sirloin frankfurter shank porchetta venison.

				Pork kielbasa biltong turducken cow. Filet mignon alcatra prosciutto pork belly, sausage kielbasa turkey pork loin strip steak. Hamburger porchetta t-bone,
				jowl beef ribs chicken corned beef andouille biltong alcatra bresaola short loin pork loin. Kevin turducken tongue short loin, cupim jerky spare ribs. Pork ground round porchetta spare ribs salami.
				Pork sausage pig porchetta drumstick.
			</p>

			<div id="introduction" class="section scrollspy">

				<a class="btn" onclick="$('.tap-target').tapTarget('open')">Lire les News</a>&nbsp;&nbsp;&nbsp;&nbsp;

				<div class="fixed-action-btn"  style="bottom: 100px; right: 24px;">
					<a id="menu" class="btn btn-floating btn-large cyan" ><i class="material-icons">menu</i></a>
				</div>

				<div class="tap-target cyan" data-activates="menu">
					<div class="tap-target-content white-text">
						<h5>News du jour</h5>
						<p class="white-text">Filet mignon alcatra prosciutto pork belly, sausage kielbasa turkey pork loin strip steak. Hamburger porchetta.
						</p>
					</div>
				</div>
			</div>

    	</div>

		<div class="parallax-container">
			<div class="parallax"><img src="images/louvre3.jpg"></div>
		</div>



        {% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
 			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 			<script src="{{ asset('js/main.js') }}"></script>
			<script>
                $(document).ready(function(){
                    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                    $('.modal').modal();
                });
			</script>
		{% endblock %}

    </body>
</html>

