<!DOCTYPE html>
<Html>

    <head>
        <meta charset="utf-8">
        <title>{% block title %}Billeterie du LOUVRE{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/reservation.css')}} " >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
    </head>

    <body>
    <br>

    <a class="waves-effect waves-light btn" href="{{ path('homepage') }}" ><i class="material-icons left">home</i>Accueil</a>

    <h3>Formulaire de Réservation</h3><br>

        <p>Veuillez entrer s'il vous plait, ci-dessous les informations concernant la personne effectuant la réservation des billets.</p> <br>

    <div class="container">
        <div class="well" >
            {{ form(form) }}
        </div>
    </div>





    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script>
            $('.datepicker').pickadate({
                disable: [
                    [2017,11,24],
                    [2017,11,25],
                    [2017,11,31],
                    [2018,0,1],
                    [2018,4,8],
                    7
                ],
                firstDay: 1,
                min: "today",
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false
            });
        </script>

    {% endblock %}

    </body>
</html>

