<!DOCTYPE html>
<Html>

    <head>
        <meta charset="utf-8">
        <title>{% block title %}Billeterie du LOUVRE{% endblock %}</title>

        {% block stylesheets %}
            <!--
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            -->
        {% endblock %}
    </head>

    <body>
        <h3>Réservation</h3>

        <div class="well">
            {{ form(form) }}
        </div>
    </body>
</html>
